install
*.orig
*.log
*.save
*.pyc
*.nc
*~
*.o
Makefile
bin/
ide/rnnlib_kdevelop/rnnlib_kdevelop.kdevses
autom4te.cache/
rnnlib_kdevelop.kdevelop.pcs
src/.deps/
stamp-h1
ide/rnnlib_xcode/rnnlib_xcode.xcodeproj/alexgraves.*
xcuserdata*
ide/rnnlib_xcode/build/
.DS_Store
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
netcdf-cxx/VERSION
netcdf-cxx/config.h
netcdf-cxx/config.status
netcdf-cxx/cxx/.deps/
netcdf-cxx/cxx/.libs/
netcdf-cxx/cxx/*.la
netcdf-cxx/cxx/*.lo
netcdf-cxx/examples/.deps/
netcdf-cxx/libtool
rnnlib
rnnlib.build/
gradient_check
gradient_check.build/
Debug
Release
rnnlib.xcodeproj
